body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #016f32;
    text-align: center;
    color: white;
    font-weight: bold;
}
h1
{
    color: black;
    font-size: 30px;
}
#message-el
{
    font-size: 25px;
    font-style: italic;
}
button
{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin-top: 4px;
    margin-bottom: 4px;
}